﻿@*@model IEnumerable<FitnessKIOSK.Models.User>*@
@model FitnessKIOSK.Models.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/Custom/UserViews.css")
@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

    </table>*@
<div class="col-sm-12 no-padding">
    <div class="col-sm-12 text-center title">DETAILS</div>
    <div class="col-sm-12 data">
        <div class="col-sm-offset-3 col-sm-3 data">
            @Html.DisplayNameFor(model => model.FirstName)
        </div>
        <div class="col-sm-6 data">
            @Html.DisplayFor(model => model.FirstName)
        </div>
    </div>
    <div class="col-sm-12 data">
        <div class="col-sm-offset-3 col-sm-3 data">
            @Html.DisplayNameFor(model => model.LastName)
        </div>
        <div class="col-sm-6 data">
            @Html.DisplayFor(model => model.LastName)
        </div>
    </div>
    <div class="col-sm-12 data">
        <div class="col-sm-offset-3 col-sm-3 data">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </div>
        <div class="col-sm-6 data">
            @Html.DisplayFor(model => model.DateOfBirth)
        </div>
    </div>
    <div class="col-sm-12 text-center data">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    </div>
</div>