﻿@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/Custom/index.css")
@*<div class="index">
    <div class="overlap">*@
        <div class="empty">

        </div>
        <div class="empty1"></div>
        <div class="col-sm-offset-5 col-sm-4 logo text-center">

        </div>
    @*</div>
</div>*@