﻿.exercise{
    padding: 1rem;
    color: black;
    height: 100%;
}

.details {
    background: rgba(255, 255, 255, 0.7);
    height: 100%;
}

.title {
    height: 10rem;
    padding: 3rem;
    font-size: 3rem;
    font-weight: 800;
}

.data {
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.dataStatic{
    padding: 2rem 0;
    font-size: 1.5rem;
}
/*.data a {
        color: white !important;
    }*/
.showDiv{
    visibility: visible;
}
.hideDiv{
    visibility: hidden;
}
.dataTitle {
    font-weight: 700;
}
.btn {
    padding: 1rem;
    margin: 1rem 0;
}
