﻿
.index{
    color: white;
}
.title {
    padding: 2rem;
}

@media (max-width: 575px) {
    .index {
        background: url(../../img/index600.png) no-repeat;
        height: 373px;
    }
    .overlap {
        background: rgba(0,0,0,0.4);
        height: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .index {
        background: url(../../img/index700.png) no-repeat;
        height: 435px;
    }
    .overlap {
        background: rgba(0,0,0,0.4);
        height: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .index {
        background: url(../../img/index800.png) no-repeat;
        height: 497px;
    }
    .overlap {
        background: rgba(0,0,0,0.4);
        height: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .index {
        background: url(../../img/index1000.png) no-repeat;
        height: 621px;
    }
    .overlap {
        background: rgba(0,0,0,0.4);
        height: 100%;
    }
}

@media (min-width: 1200px) {
    .index {
        background: url(../../img/index1200.png) no-repeat;
        height: 746px;
    }
    .overlap {
        background: rgba(0,0,0,0.4);
        height: 100%;
    }
    .logo {
        background: url(../../img/logo2.png) no-repeat;
        height: 18rem;
        width: 22rem;
    }
    .empty{
        height: calc(100% - 30%);
    }
}
