﻿.title {
    height: 10rem;
    padding: 3rem;
    font-size: 3rem;
}

.data{
    height: 5rem;
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

    .data a {
        color: white !important;
    }
