﻿@*@model FitnessKIOSK.Models.ExercisesPack*@

@model FitnessKIOSK.Models.Exercis

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/Custom/ExercisesPackViews.css")
@Styles.Render("~/Content/Custom/shared.css")

<div class="col-md-12 no-padding exercise">
    <div class="col-md-12 no-padding details">
        <div class="col-md-12 text-center title">
            EXERCISE
        </div>
        <div class="col-md-12 data dataTitle">
            @Html.DisplayFor(model => model.Title)
        </div>
        <div class="col-md-12">
            @Html.DisplayFor(model => model.Description)
        </div>
        <div class="col-md-12 no-padding dataStatic">
            <div class="col-md-12 no-padding" style="padding-bottom: 5rem;">
                <div class="col-md-2 no-padding text-right" style="padding: 0; font-weight: bold;">Muscles Involved - </div>
                <div class="col-md-10 no-padding" style="padding: 0 4px;">@Html.DisplayFor(model => model.Muscles)</div>

            </div>
            @Html.Raw(Model.Directions)
            <div class="col-md-6">
                @Html.Raw(Model.Image)     
            </div>
        </div>
    </div>
    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
