﻿@model IEnumerable<FitnessKIOSK.Models.ExercisesPack>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Custom/ExercisesPackViews.css")
<h2>EXERCISES</h2>

@{int i = 0;}
@*<div class="row">*@
@foreach (var man in Model)
{ //this loop displays all the Manager names

    //MOVING This in here fixes your problem with alignment
    <div class="row">

        @{i++;}

        <div class="col-md-12">
            @*@Html.ActionLink(man.ManagerName, "Index", new { id = man.ManagerID }, new { @class = "btn btn-sm", data_toggle = "collapse", data_target = "#@i" })*@ <!-- This is the cshtml that doesnt work. -->
            <button type="button" class="col-sm-12 btn btn-default" data-toggle="collapse" data-target="#@i"><span>@man.Title</span><span>@man.Calories cal</span><span>@man.Time mins</span></button>
            <div id="@i" class="collapse">
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        @foreach (var emp in man.Exercises)
                        {

                            <div class="col-sm-12">
                            
                                @Html.DisplayFor(modelItem => emp.Title)
                                <span> - </span>
                                @Html.DisplayFor(modelItem => emp.Description)
                                <span> - </span>
                                @Html.ActionLink("Details", "Details", new { id = emp.Id })
                            </div>
                           
                        }
                    </div>
                </div>
            </div>
        </div>

        @*<div class="col-md-1">
                @Html.ActionLink("Edit", "Edit", new { id = man.ManagerID }, new { @class = "btn btn-default" })
            </div>

            <div class="col-md-7">
                @Html.ActionLink("Delete", "Delete", new { id = man.ManagerID }, new { @class = "btn btn-default" })
            </div>*@

        @*//MOVING This in here fixes your problem with alignment*@
    </div>

}
@*</div>*@
@*</div>*@
@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calories)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

    </table>*@
